/* external css: flickity.css */

.gallery {
    background: #EEE;
}

.galleryCell {
    width: 66%;
    height: 100%;
    margin-right: 10px;
    background: rgb(214, 245, 214);
    counter-increment: gallery-cell;
    border: 1px solid rgb(250, 209, 209);
}

/* cell number */
.galleryCell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}
