.container {
    background-color: rgb(74, 199, 157);
    min-width: 15%;
    border: 1px solid rgb(139, 132, 132);
    /* transform: scale(0.7) translate(-50%, -50%); */
}

.containerSelected {
    background-color: rgb(82, 228, 179);
    min-width: 10%;
    border: 1px solid rgb(139, 132, 132);
    /* width: 20px; */
}

.container-main{
    padding: 50px;
    margin: 500px;
}